.stats-container {
    display: flex;
    
    justify-content: center;
    gap: 1rem;
    max-width: 500px;
    text-align: center;
  }
  .stat-item {
    background: #000;
    padding: 1rem;
    border-radius: 8px;
    width: 45%;
  }
  